@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

.root {
    width: 100% !important;
    height: 30px !important;
    background-color: aqua;
    font-family: 'Roboto', sans-serif;
    display:flex;
    border-radius: 5px !important;
    flex-direction: row;
    justify-content: center;
    color:rgb(137, 32, 32)

}
.root:hover{
    background-color: rgb(10, 74, 74);
}

.botao_menu {
    width: 100% !important;
    height: 28px !important;

    border-radius: 5px !important;
    text-align: left !important;
    display: flex !important;
    justify-content: start;
    align-items: start !important;
    font-family: 'Roboto', sans-serif;
    padding: 5px;
    
    background-color: white;
    color:rgb(55, 55, 55);
    
}

.botao_menu:hover{
border:0.1px solid rgb(20, 7, 68);
background-color: rgb(239, 238, 238);
color:rgb(13, 78, 7);

}

.icon_button_menu {
    padding: 1px;
    width: 20px !important;
    height: 20px !important;
    margin-left: 10px;
    margin-right: 10px;
   
    border-radius: 50%;
border:0.1px solid rgb(239, 238, 238);


}
.text_button_menu{
font-size: 12px;
font-weight: bold;
text-transform: uppercase;
padding-top:3px
}



.botao_menu_green {

    
    background-color: rgb(12, 199, 37);
    color:rgb(255, 255, 255);
    
}

.botao_menu_green:hover{
border:1px solid rgb(19, 68, 7);
background-color: rgb(255, 255, 255);
color:rgb(13, 78, 7);

}
.botao_menu_red{

    
    background-color: rgb(179, 7, 7);
    color:rgb(255, 255, 255);
    
}

.botao_menu_red:hover{
border:1px solid rgb(171, 2, 2);
background-color: rgb(255, 255, 255);
color:rgb(91, 6, 6);

}
